<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vqhkidenglish">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VQHKIDENGLISH"
        tools:ignore="MissingClass">
        <activity android:name=".Spinwheel"></activity>
        <activity android:name=".Account_activity"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5964552069889646~8652270930" />

        <activity android:name=".Doc_Voice_Activity"></activity>
        <activity android:name=".Splash_Screen_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".exten.Windy_Activity" />
        <activity android:name=".Menu_Activity" />
        <activity android:name=".Listen_Activity" />
        <activity android:name=".Phatam_Activity" />
        <activity android:name=".Login_Activity" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>